---
import {ClientRouter} from 'astro:transitions'
import {SITE_TITLE_SUFFIX} from "@/consts"


let {title = null} = Astro.props

title = title ? `${title} — ${SITE_TITLE_SUFFIX}` : SITE_TITLE_SUFFIX
---

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <ClientRouter/>
</head>
